node_modules
build
dist
*.log
*.tsbuildinfo
.DS_Store
coverage
example/dist
.husky
.env
src/contracts/ethers-typechain
contracts/compiled
examples/*/pnpm-lock.yaml
pnpm-debug.log
docs-json
.next
packages/docs
docs
.claude/
