name: CI
on: [ push, pull_request ]
jobs:
  build_project:
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [ '18.x' ]
        os: [ ubuntu-latest ]

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2
        with:
          version: 8.1

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - run: pnpm install

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm ci:lint

      - name: Test
        run: pnpm test

      - name: Check examples & demos
        run: pnpm check-examples

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true

# TODO: Fix or replace bundlemon on CI
#      - name: Analyze bundle size
#        uses: lironer/bundlemon-action@v1
